body {
  height: 100vh;
  font-family: "barlow-medium", system-ui, sans-serif;
  font-size: var(--textpreset3);
  line-height: 1.4;
  background: var(--body__background);
  padding-block-start: clamp(4.5625rem, 1.1294rem + 14.6479vw, 14.3125rem);
  padding-block-end: clamp(4.5625rem, 1.3715rem + 13.615vw, 13.625rem);
  padding-inline: clamp(2.1875rem, -0.6074rem + 11.9249vw, 10.125rem);
}

main {
  max-inline-size: 69.625rem;
  display: grid;
  margin-inline: auto;
  gap: var(--spacing__400);
}

@media (min-width: 48rem) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  :is(.daniel, .patrick, .kira) {
    grid-column: auto / span 2;
  }
}

@media (min-width: 90rem) {
  main {
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    row-gap: var(--spacing__300);
  }
  :is(.kira) {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}

h1 {
  font-family: "barlow-semibold", system-ui, sans-serif;
  font-size: var(--textpreset1);
  line-height: 1.2;
}

div p {
  font-size: var(--textpreset2);
  line-height: 1.1;
}

div p:last-child {
  font-size: var(--textpreset4);
}
