/* stylelint-disable custom-property-pattern */
@theme { 
  --color-*: initial;
  --purple-500: #733fc8;
  --darkblue: #19202d;
  --black: #121212;
  --purple-300: #a775f1;
  --purple-50: #ede4ff;
  --grey-100: #e7eaee;
  --grey-200: #cfcfcf;
  --grey-400: #676d7e;
  --grey-300: #A3AAB4;
  --grey-500: #48556a;
  --white: #ffffff;
  --body-background: #f6f5f6;
  --spacing-*: initial;
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --text-*: initial;
  --textpreset1: 1.25rem;
  --textpreset2: 0.8125rem;
  --textpreset3: 0.8125rem;
  --textpreset4: 0.6875rem;
}

@font-face {
  font-family: barlow-medium;
  src: url("../public/fonts/BarlowSemiCondensed-Medium.ttf");
}

@font-face {
  font-family: barlow-semibold;
  src: url("../public/fonts/BarlowSemiCondensed-SemiBold.ttf");
}
